
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/1.png">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Online Courses</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="C:\Users\rabin\Documents\GitHub\bootsRap\newEx.html">Home</a></li>
            <li><a href="C:\Users\rabin\Documents\GitHub\bootsRap\about.html">About</a></li>
            <li><a href="C:\Users\rabin\Documents\GitHub\bootsRap\contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Goto <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="C:\Users\rabin\Documents\GitHub\bootsRap\organization.html">Organization</a></li>
                <li><a href="C:\Users\rabin\Documents\GitHub\bootsRap\member and courses.html">Members & Courses</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Help Yourself</li>
                <li><a href="C:\Users\rabin\Documents\GitHub\bootsRap\feedback.html">leave feedback</a></li>
                
              </ul>
            </li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Enter Your Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name = "name" placeholder="Enter Your Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form> -->
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
 
 

<section class="fullwidth gray">
            <div id="origami-left"></div>
            <div id="origami-right"></div>

            <section class="central">

                <hgroup>
                </br>
                </br>
                </br>
                    <h1>Try us for free</h1>
                    <h2>You can access all of our features without spending<br>a cent. You only pay once you start sending campaigns.</h2>
                </hgroup>

                <section class="container-box">
                    <section class="content">
                        <form action="/signup" method="post" id="form-sign-up" name="signUp">
                        <label for="name">Name</label>
                        <div class="input-group">
                            <input class="required check-blur" type="text" id="name" name="ContactName" tabindex="1" spellcheck="false" value="" />
                            
                        </div>

                        <label for="email">Email Address</label>
                        <div class="input-group">
                            <input class="required check-blur" type="text" id="email" name="EmailAddress" tabindex="2" spellcheck="false" value="" />
                            
                        </div>
                        
                        <label for="password">Password</label>
                        <div class="input-group">
                            <input class="required check-blur" type="password" id="password" name="Password" tabindex="4" value="" />
                            
                        </div>

                        
                        <input type="hidden" name="Country" value="Nepal" />
                        
                            
                        </div>

                        <span class="divider"></span>

                        <label for="company-name">Company Name</label>
                        <div class="input-group">
                            <input class="required check-blur" type="text" id="company-name" name="CompanyName" tabindex="5" spellcheck="false" value="" />
                            
                        </div>

                        
                        <section class="flush-block">
                            <input type="checkbox" id="newsletter-subscribe" onclick="_gaq.push(['_trackPageview', '/internal/form/signup/terms']);" name="MonthlyNewsletter" value="MonthlyNewsletter" >
                            <label for="newsletter-subscribe" class="inline-label">I want to receive monthly tips on email design <em>(unsubscribe at any time)</em></label>
                        </section>

            <section id="submit-sign-up">
              <input type="submit" value="submit.." id="sign-up" class="button" onclick="_gaq.push(['_trackPageview', '/internal/form/signup/submit']);">
              <aside>By signing up, you agree to our <a href="http://www.campaignmonitor.com/terms/">Terms of Use</a>,<br> <a href="http://www.campaignmonitor.com/privacy/">Privacy Policy</a>, and <a href="http://www.campaignmonitor.com/anti-spam/">Anti-spam Policy</a></aside>
            </section>
            <input type="hidden" id="refererURL" name="refererURL" value="" />
            <input type="hidden" id="dateOfFirstVisit" name="dateOfFirstVisit" value="" />
            <input type="hidden" id="landingPage" name="landingPage" value="" />
            <input type="hidden" id="signupVar" name="signupVar" value="help" />
          </form>
          </section>
          </section>
          </section>
          </section>
            
 <hr>

      <footer>
        <p>&copy; OLIVE MEDIA 2013</p>
      </footer>
      <footer>
      <h3><b><font size="2" face="Georgia, Arial" color="black">Social Media:</font></b></h3>  
      <div class="row">
        <div class="col-lg-1">
          <li><a href="http://www.facebook.com"><img src="images/fb.png" alt=""></a></li>
          
        </div>

        <div class="col-lg-1">
          <li><a href="http://www.twitter.com"><img src="images/tw.png" alt=""></a></li>
        </div>

        <div class="col-lg-1">
          <li><a href="http://www.myspace.com"><img src="images/my.png" alt=""></a></li>
        </div>
      </div>
    
    </footer> 
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
  </body>
</html>
